<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Editar Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Nombre"
      [(ngModel)]="name"
      placeholder="Nombre"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Código"
      [(ngModel)]="code"
      placeholder="Código"
      [disabled]="isDisabled"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Categoría"
      [(ngModel)]="category"
      placeholder="Categoría"
      [disabled]="isDisabled"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Precio"
      [(ngModel)]="price"
      placeholder="Precio"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Descripción"
      [(ngModel)]="description"
      placeholder="Descripción"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Cantidad"
      [(ngModel)]="amount"
      placeholder="Cantidad"
    ></ion-input>
  </ion-item>
</ion-content>