<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Agregar estudiante</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Nombre"
      [(ngModel)]="nombre"
      placeholder="Nombre"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Apelldio"
      [(ngModel)]="apellido"
      placeholder="Apellido"
      
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Matricula"
      [(ngModel)]="matricula"
      placeholder="Matricula"
     
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Email"
      [(ngModel)]="email"
      placeholder="Email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Carrera"
      [(ngModel)]="carrera"
      placeholder="Carrera"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Telefono"
      [(ngModel)]="telefono"
      placeholder="Telefono"
    ></ion-input>
  </ion-item>
</ion-content>